*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: Tahoma, sans-serif;
}
.todo-container{
    width: 70vw;
    margin: 30px auto 0;
    background-color: #f6f6f6;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.todo-container .add-tasks{
    display: flex;
    justify-content: space-between;
    text-align: center;
    padding: 15px;
    position: relative;
    background-color: #009688;
    width: 100%;
}
.add-tasks input{
    width: 100%;
    background-color: rgba(255, 255, 255, .3);
    border: none;
    color: #fff;
    padding: 10px 15px;
    font-size: 20px;
    border-radius: 4px;

}
.add-tasks input:focus{
    outline: none;
}
.add-tasks .plus{
    width: 43px;
    height: 43px;
    border-radius: 50%;
    background-color: #fff;
    color: #009688;
    transition: transform .8s;
    font-size: 38px;
    cursor: pointer;
    text-align: center;
    line-height: 40px;
    position: absolute;
    right: 12px;
    
    
   
}
.add-tasks .plus:hover{
    transform: rotate(360deg);
}
.tasks-contant{
    padding: 15px;
    width: 100%;


}
.tasks-contant .no-tasks-message{
    font-size: 15px;
    color: #777;
}
.tasks-contant>span{
    display: block;
    background-color: #fff;
    padding: 10px;
}
.tasks-contant span:not(:last-child){
    margin-bottom: 10px;
}
.tasks-contant .task-box .delete{
    float: right;
    background-color: #E91E63;
    font-weight: bold;
    font-size: 12px;
    border-radius: 4px;
    cursor: pointer;
    color: #fff;
    padding: 4px 10px;

}
.tasks-contant .task-box.finished{
    text-decoration: line-through;
}
.all{
    display: flex;
    justify-content: space-between;
    /* width: 560px; */
    width: 100%;
    margin: 0px auto;
    padding:15px 13px;
}
.finishall,
.deleteall{
    border: 1px solid rgb(199, 193, 193);
    padding: 5px 10px;
    border-radius: 4px;
    color: #fff;
    background-color: rgb(236, 87, 87);
    cursor: pointer;
    font-size: 13px;
}
button:hover{
    background-color: rgba(190, 178, 178, 0.3);
    color:rgb(236, 87, 87) ;
}
.tasks-state{
    width:80vw;
    display: flex;
    justify-content: space-around;
    font-size: 12px;
    overflow: hidden;
    margin: 10px auto;

}
.tasks-state .tasks-count span,
.tasks-state .tasks-complete span{
    color: #fff;
    font-weight: bold;
    font-size: 10px;
    border-radius: 4px;
    padding: 1px 5px;
    

}
.tasks-state .tasks-count span{
    background-color: #E91E63;
}
.tasks-state .tasks-complete span{
    background-color: #03A9f4;
}